<%= form_for(address) do |f| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address1, class: "control-label" %>
    <%= f.text_field :address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address2, "Address line 2 (if any)", class: "control-label" %>
    <%= f.text_field :address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "control-label" %>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "control-label" %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "control-label" %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country, class: "control-label" %>
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone,  class: "control-label" %>
    <%= f.phone_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mobile,  class: "control-label" %>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website, class: "control-label" %>
    <%= f.url_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :other, class: "control-label" %>
    <%= f.text_area :other, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save address", class: "btn btn-default" %>
  </div>
<% end %>
