<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address.address2 %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @address.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @address.website %>
</p>

<p>
  <strong>Other:</strong>
  <%= @address.other %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
